/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb; /* Color de fondo más suave */
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #2c3e50; /* Color de fondo más oscuro */
    color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

header p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
}

/* Sección de jugadores */
.players {
    padding: 30px 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.players h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #2c3e50;
}

/* Lista de jugadores */
.player-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Tarjeta de jugador */
.player-card {
    background-color: #ffffff;
    border: 1px solid #e2e6ea;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.player-card img {
    width: 80%; /* Ajusta el tamaño de la imagen para que no sea tan grande */
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px; /* Espacio debajo de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centra la imagen */
}

.player-card h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

/* Detalles del jugador */
.player-details {
    background-color: #ffffff;
    padding: 30px;
    margin: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.3s ease;
}

.player-details h2 {
    font-size: 32px;
    margin-bottom: 25px;
    color: #2c3e50;
}

.player-details p {
    font-size: 18px;
    line-height: 1.8;
    color: #666;
}

.player-details ul {
    list-style-type: none;
    padding: 0;
}

.player-details ul li {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.player-details ul li span {
    font-weight: bold;
    color: #333;
}
.player-details img {
    max-width: 500px;
    max-height: 500px;
}